.widget {
    hyphens: auto;
    margin: 0 auto 40px;
    word-wrap: break-word;
}
.widget-title {
  color: #333;
  margin: 0 0 20px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-size: 1em;
}

.widget_archive ul, 
.widget_categories ul, 
.widget_links ul, 
.widget_meta ul, 
.widget_nav_menu ul, 
.widget_pages ul, 
.widget_recent_comments ul, 
.widget_recent_entries ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
  list-style-type: none;
  font-size: 0.9em;
}

.widget_archive li, 
.widget_categories li, 
.widget_links li, 
.widget_meta li, 
.widget_nav_menu li, 
.widget_pages li, 
.widget_recent_comments li, 
.widget_recent_entries li {
  border-top: 1px solid #eaeaea;
  border-top: 1px solid rgba(51, 51, 51, 0.1);
  padding: 8px 0;
}


.widget_archive li:first-child, 
.widget_categories li:first-child, 
.widget_links li:first-child, 
.widget_meta li:first-child, 
.widget_nav_menu li:first-child, 
.widget_pages li:first-child, 
.widget_recent_comments li:first-child, 
.widget_recent_entries li:first-child {
    border-top: 0;
    padding-top: 0;
}

.widget_categories ul .children {
    padding: 8px 0 0 8px;
}
.widget_categories ul .children > li:last-child {
    padding-bottom: 0;
}


@media (min-width: $screen-md-min) {
  .sidebar{
    float: left;
    width: 33.33333332%;
    padding-bottom: 3rem;
    padding-top: 3rem;
  }
}